# Analsys of thermistor calibration

In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('../data/csv_2018-11-27_10-35.csv')

In [5]:
data.tail()

,45995.480769230766,24.78897,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,
88,57060.000000,20.35800,20.769836,0.006407,-0.000525,0.000002,[{ T: 7.64621,R: 103049.53560371517 },{ T: 16.22787,R: 71093.0487804878 },{ T: 24.78897,R: 45995.480769230766 }]
89,54642.542017,21.27832,21.612458,0.006407,-0.000525,0.000002,[{ T: 7.64621,R: 103049.53560371517 },{ T: 16.22787,R: 71093.0487804878 },{ T: 24.78897,R: 45995.480769230766 }]
90,52953.409091,21.88571,22.212655,0.006407,-0.000525,0.000002,[{ T: 7.64621,R: 103049.53560371517 },{ T: 16.22787,R: 71093.0487804878 },{ T: 24.78897,R: 45995.480769230766 }]
91,52334.291581,22.08804,22.435051,0.006407,-0.000525,0.000002,[{ T: 7.64621,R: 103049.53560371517 },{ T: 16.22787,R: 71093.0487804878 },{ T: 24.78897,R: 45995.480769230766 }]
92,51118.661258,22.69046,22.875537,0.006407,-0.000525,0.000002,[{ T: 7.64621,R: 103049.53560371517 },{ T: 16.22787,R: 71093.0487804878 },{ T: 24.78897,R: 45995.480769230766 }]